/* Bootstrap changes */
.card {
  border: none;

  &-header {
    border: none;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 0 !important;
  }
}
