.carousel-indicators li {
  width: 0.4em;
  height: 0.4em;
  transition: width 0.6s ease;
  background-color: $dark;
  border-radius: 0.4em;
  border: 0.1em solid rgba($white, 0.5) !important;
}

.carousel-indicators .active {
  width: 0.8em;
}
