.carousel-indicators li {
  width: 0.4em;
  height: 0.4em;
  transition: width 0.6s ease;
  background-color: $white;
  border-radius: 0.4em;
  border: 0.01em solid $dark;
}

.carousel-indicators .active {
  width: 0.8em;
}
