.dropdown {
  &-toggle {
    &-border-bottom {
      border-radius: 0;
      border: none;
      border-bottom: 0.1em solid $info;
      color: rgba($dark, 0.7);

      &:active {
        box-shadow: none !important;
        background-color: $white !important;
        border-color: $primary !important;
        color: $dark !important;
      }
      &:focus {
        box-shadow: none !important;
        background-color: $white !important;
        border-color: $primary !important;
        color: $dark !important;
      }
      &:hover {
        box-shadow: none !important;
        background-color: $white !important;
        border-color: $primary !important;
        color: $dark !important;
      }
    }

    &::after {
      content: none;
    }
  }

  &-menu {
    &-border-bottom {
      border-radius: 0;
    }
  }
}
