.height  {
  &__min {
    min-height: 100%;

    &--45vh {
      min-height: 45vh;
    }
  }

  &__vh {
    &__25 {
      height: 25vh;
    }
    &__30 {
      height: 30vh;
    }
    &__75 {
      height: 75vh;
    }
  }
}
