.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid $info;
  box-shadow: none !important;

  &:active {
    border-color: $primary !important;
  }

  &:focus {
    border-color: $primary !important;
  }
}
