.notifier {
  position: absolute;
  top: -0.5em;
  right: -0.9em;
  background-color: $primary;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em !important;
  height: 1.5em !important;
  font-size: 0.8em;
  color: $white;
  opacity: 0;
  visibility: hidden;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &--danger {
    background-color: $danger;
  }
}
