.slider {
  &-horizontal {
    width: 100% !important;
  }

  &-track {
    height: .2em !important;
    margin-top: -2.5px !important;

    &-low, &-high {
    	background: $info;
    }
  }

  &-selection {
    background: $primary;
  }

  &-handle {
    background: $info;
  }
}
