.svg {
  height: 1.8em;
  color: $dark;
  fill: $dark;

  &--sm {
    height: 1.3em;
  }

  &--med {
    height: 2.5em;
  }

  &__fill {
    &--primary {
      color: $primary;
      fill: $primary;
    }
    &--info {
      color: $info;
      fill: $info;
    }
  }

  &__stroke {
    stroke: $dark;

    &--white {
      stroke: $white;
    }
  }



  /*&__height {
    &--medium {
      height: 1.2em;
    }
  }

  &__bg {
    &--info {
      color: $info;
      fill: $info;
    }
    &--primary {
      color: $primary;
      fill: $primary;
    }
    &--dark {
      color: $dark;
      fill: $dark;
    }
  }

  &__stroke {
    &--white {
      stroke: $white;
    }
    &--dark {
      stroke: $dark;
    }
    &--info {
      stroke: $info;
    }
    &--primary {
      stroke: $primary;
    }
  }*/
}
