<div class="modal fade productFilterWrapper" id="productFilterModal" aria-hidden="true">
  <div class="modal-dialog m-0">
    <div class="modal-content bg-dark height__min__100vh">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          {% include 'shop/templates/svg/close.html' with class='text-white' height='1em' only %}
        </button>
      </div>

      <div class="modal-body">
        <div class="seperator mt-4"></div>

        <div class="productFilter" data-sort="name">
          <!--
          Filter `product brands`
          -->
          <div class="productFilterBrands">
          </div>


          <!--
          Filter `product prices`
          -->
          <div class="productFilterPrices">
            <h5 class="text-white {% if 1 == 0 %} text-strong-italic {% endif %}">Preis</h5>

            <div class="seperator mt-3"></div>

            <div class="d-flex">
              <input type="number" name="filterPriceMin" placeholder="Min" class="text-white form-control form-control-lg bg-dark mr-2" value="">
              <input type="number" name="filterPriceMax" placeholder="Max" class="text-white form-control form-control-lg bg-dark ml-2" value="">
            </div>
            <div class="d-flex">
              <p class="text-info text-smaller w-50 m-0 p-0 text-center">Min</p>
              <p class="text-info text-smaller w-50 m-0 p-0 text-center">Max</p>
            </div>
            <span class="text-danger text-smaller filterPriceErrorMsg"></span>

            <div class="seperator pt-2"></div>

            <hr class="bg-info mt-4 mb-4">
          </div>


          <!--
          Filter `product ordering`
          -->
          <div class="productFilterOrdering">
            <h5 class="text-white">Sortieren nach</h5>

            <div class="seperator mt-3"></div>

            <div class="max-height-25vh overflow-auto">
              <label class="checkbox">
                <input type="radio" name="filterProductOrdering" value="-value" checked>
                <div class="checkbox-box checkbox-box-dark checkbox-box-radio">
                  {% include 'shop/templates/svg/circle.svg' with class='text-white checkbox-icon' height='0.5em' style='' only %}
                </div>
                <h6 class="checkbox-text checkbox-text-dark m-0 ml-2">Beliebtheit</h6>
              </label>
              <label class="checkbox">
                <input type="radio" name="filterProductOrdering" value="-created">
                <div class="checkbox-box checkbox-box-dark checkbox-box-radio">
                  {% include 'shop/templates/svg/circle.svg' with class='text-white checkbox-icon' height='0.5em' style='' only %}
                </div>
                <h6 class="checkbox-text checkbox-text-dark m-0 ml-2">Neu</h6>
              </label>
              <label class="checkbox">
                <input type="radio" name="filterProductOrdering" value="price">
                <div class="checkbox-box checkbox-box-dark checkbox-box-radio">
                  {% include 'shop/templates/svg/circle.svg' with class='text-white checkbox-icon' height='0.5em' style='' only %}
                </div>
                <h6 class="checkbox-text checkbox-text-dark m-0 ml-2">Preis Aufsteigend</h6>
              </label>
              <label class="checkbox">
                <input type="radio" name="filterProductOrdering" value="-price">
                <div class="checkbox-box checkbox-box-dark checkbox-box-radio">
                  {% include 'shop/templates/svg/circle.svg' with class='text-white checkbox-icon' height='0.5em' style='' only %}
                </div>
                <h6 class="checkbox-text checkbox-text-dark m-0 ml-2">Preis Absteigend</h6>
              </label>
            </div>

            <hr class="bg-info mt-4 mb-4">
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light btn-lg w-100 disabled submitProductFilterTrigger">Filter anwenden</button>
        <p class="text-info text-center m-0 mt-2 w-100 text-smaller">*All unsere Produkte sind zu <u>100% Vegan</u>.</p>
      </div>
    </div>
  </div>
</div>
