{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Greenvoice">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    {% block seo %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'shop/med/favicon.ico' %}"/>
    <!--<link rel="stylesheet" href="{% static 'shop/bundled.css' %}">-->

    <script type="text/javascript">
      var user = '{{ request.user }}'

      var domain = window.location.protocol + '//' + window.location.hostname
      if (domain.includes('localhost')) { domain = 'http://localhost:8000' }
      var current_url = domain + '{{ request.path|urlencode }}'
      var login_url = domain + '{% url "shop:login" %}?next={{ request.path|urlencode }}'

      function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
	        }
		    }
		    return cookieValue;
  		}
  		var csrftoken = getToken('csrftoken');
    </script>
  </head>
  <body class="bg-dark">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <script type="text/javascript" src="{% static 'shop/bundled.js' %}"></script>
  </body>
</html>
