**/.dockerignore
**/.env*
**/.git
**/.github
**/.gitignore
**/*.scss
**/*.js
!bundled.js
**/docker-compose*
**/Dockerfile*
**/js
**/node_modules
**/npm-debug.log
**/package.json
**/package-lock.json
**/webpack.config.js
.DS_Store
.git
.github
.gitignore
README.md
LICENSE
node_modules
