$primary: #7FC6A4;
$light: #ffffff;
$dark: #404040;
$danger: #DE636F;
$info: #BFBFBF;
$warning: #eeb868;
$headings-color: #404040;
$body-color: #404040;
$yiq-text-dark: #404040;

$btn-white-space: nowrap;

@import "~bootstrap/scss/bootstrap";
