{% load static %}

<div class="d-flex scrollbar align-items-start mt-4">
  <div class="feed-padding-left"></div>

  <div class="feed-brand">
    <a href="#" class="text-decoration-none">
      <div class="d-flex justify-content-center align-items-center">
        <div class="mw-100">
          <img src="{% static 'shop/med/logo.png' %}" class="img img-fluid img-thumbnail w-100 h-100" alt="" style="border-radius: 100%;">
          <div class="pt-2">
            <h6 class="m-0 p-0 text-center">Brand Name</h6>
            <p class="m-0 p-0 mt-2 text-info text-center text-smaller {% if 1 == 0 %} text-italic {% endif %}" style="line-height: 1.2em;">#Bekleidung #Schuhe</p>
          </div>
        </div>
      </div>
    </a>
  </div>

  {% for item in "x"|ljust:"10" %}
    <div class="ml-3 feed-brand">
      <a href="#" class="text-decoration-none">
        <div class="d-flex justify-content-center align-items-center">
          <div class="mw-100">
            <img src="{% static 'shop/med/logo.png' %}" class="img img-fluid img-thumbnail w-100 h-100" alt="" style="border-radius: 100%;">
            <div class="pt-2">
              <h6 class="m-0 p-0 text-center">Brand Name</h6>
              <p class="m-0 p-0 mt-2 text-info text-center text-smaller {% if 1 == 0 %} text-italic {% endif %}" style="line-height: 1.2em;">#Bekleidung #Schuhe</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}

  <div class="text-white feed-padding-right">.</div>
</div>
