<!-- Test checkbox stuff here:
<div>
  <label class="checkbox">
    <input type="checkbox" name="" vlaue="">
    <div class="checkbox-box">
      {% include 'shop/templates/svg/check.svg' with class='text-white' height='0.7em' style='' only %}
    </div>
    <h6 class="checkbox-text m-0 ml-2">Eins</h6>
  </label>
  <label class="checkbox">
    <input type="checkbox" name="" value="">
    <div class="checkbox-box checkout__choose__sex__box">
      {% include 'shop/templates/svg/check.svg' with class='text-white' height='0.7em' style='' only %}
    </div>
    <h6 class="checkbox-text m-0 ml-2">Zwei</h6>
  </label>
</div>-->
