{% load static %}

<div class="down">
  <!-- Image/Gallery. -->
  <div class="position-fixed" style="height: 80vh; z-index: -1">
    <!-- Image. -->
    <img src="{% static 'shop/media/placeholder.jpg' %}" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
    <!-- Gallery. -->
    <!--  -->
  </div>
  <div style="height: 75vh;"></div>

  <!-- Container. -->
  <div class="container-fluid bg-white down-container">
    <div class="container">
        <div class="p-3 d-flex justify-content-center align-items-center">
          <div class="bg-dark rounded" style="width: 3em; height: 0.4em;"></div>
        </div>
        <div class="mt-4"></div>

        Content will go here..

    </div>
  </div>
</div>
