{% load static %}

<footer>
  <div> <!-- Cookie notice -->
    <div class="container">
      <p class="text-white p-0 m-0 mt-5">{% include 'shop/templates/svg/cookie.svg' with class='text-white mr-1' height='1em' only %} Wir verwenden <strong>Cookies</strong>. Wenn du fortfährst, nehmen wir an, dass du damit einverstanden bist. <button id="acceptCookies" class="btn m-0 p-0 ml-1 text-white" style="vertical-align: baseline;"><strong class="border-bottom border-2">Ok</strong></button></p>
    </div>
  </div>


  <div> <!-- Payment methods -->
    <div class="container px-0">
      <h6 class="mt-5 text-white text-uppercase pl-3">Zahlungsmöglichkeiten</h6>
      <div class="d-flex scrollbar mt-4 pl-3">
        <button class="btn btn-lg btn-outline-light mr-1">Mastercard</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">Visa</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">PayPal</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">Klarna</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">Sofort</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">Eps</button>
        <button class="btn btn-lg btn-outline-light ml-2">Sepa</button>
        <div class="p-2"></div>
      </div>
      <p class="text-white m-0 p-0 mt-4 pl-3" style="font-size: .8em;">Alle Preise inkl. der gesetzl. MwSt.</p>
    </div>
  </div>


  <div> <!-- Page links -->
    <div class="container mt-5 px-0">
      <div class="d-flex scrollbar position-relative pl-3">
        <div class="mr-3">
          <h6 class="text-white text-uppercase">Über uns</h6>
          <ul class="text m-0 p-0 mt-4">
            <li><a href="#" class="text-white">Unsere Kriterien</a></li>
            <li class="mt-1"><a href="#" class="text-white">Kontaktiere uns</a></li>
            <li class="mt-1"><a href="#" class="text-white">Impressum</a></li>
          </ul>
        </div>
        <div class="mr-3 ml-4">
          <h6 class="text-white text-uppercase">Infos</h6>
          <ul class="text m-0 p-0 mt-4">
            <li><a href="#" class="text-white">Wie sende ich zurück?</a></li>
            <li class="mt-1"><a href="#" class="text-white mt-3">Nutzungsbedingungen</a></li>
            <li class="mt-1"><a href="#" class="text-white mt-3">Datenschutzrichtlinien</a></li>
          </ul>
        </div>
        <div class="ml-4">
          <h6 class="text-white text-uppercase">Business</h6>
          <ul class="text m-0 p-0 mt-4">
            <li><a href="#" class="text-white">Auf Greenvoice verkaufen</a></li>
            <li class="mt-1"><a href="#" class="text-white mt-3">Preisgestaltung</a></li>
            <li class="mt-1"><a href="#" class="text-white mt-3">Verkaufsbedingungen</a></li>
            <li class="mt-1"><a href="#" class="text-white mt-3">Shooting Vereinbarung</a></li>
          </ul>
        </div>
        <div class="p-2"></div>
      </div>
    </div>
  </div>


  <div> <!-- Footer footer -->
    <div class="container mt-5">
      <div class="row d-flex align-items-center mt-5">

        <!-- Social media links -->
        <div class="col d-flex justify-content-start align-items-center">
          <div> <!-- Instagram -->
            <a href="https://www.instagram.com/greenvoice.shop/" target="_blank">
              <button class="btn m-0 p-0">
                {% include 'shop/templates/svg/instagram.svg' with class='text-white' height='2.2em' only %}
              </button>
            </a>
          </div>
          <div> <!-- Facebook -->
            <a href="#" target="_blank" class="ml-4">
              <button class="btn m-0 p-0">
                {% include 'shop/templates/svg/facebook.svg' with class='text-white' height='1.9em' style='margin-top: -0.1em' only %}
              </button>
            </a>
          </div>
        </div>

        <!-- Copyright notice -->
        <div class="col d-flex justify-content-end align-items-center">
          <p class="text-white m-0" style="font-size: .8em;">© 2020</p>
        </div>
      </div>

      <hr class="bg-white mt-3 mb-3"> <!-- Design element: Line -->

      <div> <!-- Design element: Made with <3 in austria -->
        <p class="text-white text-center" style="font-size: .8em;">
          Gemacht mit
          {% include 'shop/templates/svg/heart.svg' with class='text-white ml-1 mr-1' height='0.8em' style='margin-top: -0.3em' strokewidth='3' only %}
          in Österreich
        </p>
      </div>
    </div>
  </div>
</footer>
