{% load static %}

<footer>
  <div data-setion="footerCookieNotice">
    <div class="container">
      <div class="seperator mt-5"></div>

      {% if request.COOKIES.cookies_accepted != 'true' %}
        <p id="cookieNotice" class="text-white p-0 m-0">{% include 'shop/templates/svg/cookie.svg' with class='text-white mr-1' height='1em' only %} Wir verwenden <strong>Cookies</strong>. Wenn du fortfährst, nehmen wir an, dass du damit einverstanden bist. <button id="acceptCookies" class="btn m-0 p-0 ml-1 text-white" style="vertical-align: baseline;"><strong id="acceptCookiesTrigger" class="border-bottom border-2">Ok</strong></button></p>
      {% endif %}
    </div>
  </div>


  <div data-section="footerPaymentsMethods">
    <div class="container px-0">
      <div class="seperator mt-5"></div>

      <h6 class="text-white text-uppercase pl-3 {% if 1 == 0 %} text-strong-italic {% endif %}">Zahlungsmöglichkeiten</h6>

      <div class="seperator mt-4"></div>

      <div class="d-flex scrollbar pl-3">
        <button class="btn btn-lg btn-outline-light mr-1">Mastercard</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">Visa</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">PayPal</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">Klarna</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">Sofort</button>
        <button class="btn btn-lg btn-outline-light mr-1 ml-2">Eps</button>
        <button class="btn btn-lg btn-outline-light ml-2">Sepa</button>
        <div class="p-2"></div>
      </div>

      <div class="seperator mt-4"></div>

      <p class="text-white m-0 p-0 pl-3" style="font-size: .8em;"><i>*Alle Preise inkl. der gesetzl. MwSt.</i></p>
    </div>
  </div>


  <div data-section="footerPageLinks">
    <div class="seperator mt-5"></div>

    <div class="container px-0">
      <div class="d-flex scrollbar position-relative pl-3">
        <div class="mr-3">
          <h6 class="text-white text-uppercase {% if 1 == 0 %} text-strong-italic {% endif %}">Über uns</h6>

          <div class="seperator mt-4"></div>

          <ul class="text m-0 p-0">
            <!--<li><a href="{% url 'shop:index' %}" class="text-white">Unsere Kriterien</a></li>-->
            <li class="mt-1"><a href="mailto:kundensupport@greenvoice.shop?subject=Frage/n betreffend des Angebots von Greenvoice" class="text-white">Kontaktiere uns</a></li>
            <li class="mt-1"><a href="{% url 'shop:imprint' %}" class="text-white">Impressum</a></li>
          </ul>
        </div>

        <div class="mr-3 ml-4">
          <h6 class="text-white text-uppercase {% if 1 == 0 %} text-strong-italic {% endif %}">Infos</h6>

          <div class="seperator mt-4"></div>

          <ul class="text m-0 p-0">
            <li><a href="{% url 'shop:terms' %}" class="text-white">Wie sende ich zurück?</a></li>
            <li class="mt-1"><a href="{% url 'shop:terms' %}" class="text-white mt-3">Nutzungsbedingungen</a></li>
            <li class="mt-1"><a href="{% url 'shop:privacy' %}" class="text-white mt-3">Datenschutzrichtlinien</a></li>
          </ul>
        </div>

        <div class="ml-4">
          <h6 class="text-white text-uppercase {% if 1 == 0 %} text-strong-italic {% endif %}">Business</h6>

          <div class="seperator mt-4"></div>

          <ul class="text m-0 p-0">
            <!--<li><a href="#" class="text-white">Auf Greenvoice verkaufen</a></li>
            <li class="mt-1"><a href="#" class="text-white mt-3">Preisgestaltung</a></li>-->
            <li class="mt-1"><a href="{% url 'shop:terms-of-sale' %}" class="text-white mt-3">Verkaufsbedingungen</a></li>
            <li class="mt-1"><a href="{% url 'shop:shooting-agreements' %}" class="text-white mt-3">Shooting Vereinbarung</a></li>
          </ul>
        </div>
        <div class="p-2"></div>
      </div>
    </div>
  </div>


  <div data-section="footerFooter">
    <div class="seperator mt-5"></div>

    <div class="container">
      <div class="seperator mt-5"></div>

      <div class="row d-flex align-items-center">


        <div data-seciton="footerSocialMediaLinks">
          <div class="col d-flex justify-content-start align-items-center">

            <div data-section="footerInstagramLink">
              <a href="https://www.instagram.com/greenvoice.shop/" target="_blank">
                <button class="btn m-0 p-0">
                  {% include 'shop/templates/svg/instagram.svg' with class='text-white' height='2.2em' only %}
                </button>
              </a>
            </div>

            <div data-section="footerFacebookLink">
              <a href="#" target="_blank" class="ml-4">
                <button class="btn m-0 p-0">
                  {% include 'shop/templates/svg/facebook.svg' with class='text-white' height='1.9em' style='margin-top: -0.1em' only %}
                </button>
              </a>
            </div>

          </div>
        </div>


        <div class="col d-flex justify-content-end align-items-center" data-section="footerCopyrightNotice">
          <p class="text-white m-0" style="font-size: .8em;">© 2020</p>
        </div>
      </div>


      <div data-section="footerDesignElementHorizontalLine">
        <div class="seperator mt-3"></div>

        <hr class="bg-white">

        <div class="seperator mt-3"></div>
      </div>


      <div data-section="footerMadeWithLove">
        <p class="text-white text-center {% if 1 == 0 %} text-italic {% endif %}" style="font-size: .8em;">
          Gemacht mit
          {% include 'shop/templates/svg/heart.svg' with class='text-white ml-1 mr-1' height='0.8em' style='margin-top: -0.2em' strokewidth='3' only %}
          in Österreich
        </p>
      </div>
    </div>
  </div>
</footer>
