{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
  <div class="up">
    <div class="up-container bg-white">
      <div class="container pt-5 position-relative">
        <div class="seperator mt-5"></div>

        <h4>Mein Warenkorb <span class="text-info orderCount" data-style="bracket" data-type="cart">(0)</span></h4>

        <div class="seperator mt-5"></div>

        <div class="orderList height__min--45vh" data-type="cart">
          <p class="text-info">
            Du hast noch keine Artikel zu deinem Warenkorb hinzugefügt.
            <svg class="bi bi-bag text-info ml-1" height="1em" style="margin-top: -0.2em;" viewBox="0 0 24.581 26.25" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-2986 -168.75)"><path id="cart" d="M1,6.145H23.581V22.274A3.226,3.226,0,0,1,20.355,25.5H4.226A3.226,3.226,0,0,1,1,22.274Z" transform="translate(2986 168.5)" fill="none" stroke="currentColor" stroke-width="2"/><path d="M12.29,2.113A4.032,4.032,0,0,0,8.258,6.145H6.645a5.645,5.645,0,0,1,11.29,0H16.323A4.032,4.032,0,0,0,12.29,2.113Z" transform="translate(2986 168.5)" fill="currentColor" stroke="currentColor" stroke-width="0.5"/></g></svg>
          </p>
        </div>

        <div class="orderTotal" data-type="cart">
          <div class="seperator mt-5"></div>
          <hr class="bg-info">
          <div class="seperator mt-4"></div>

          <a href="{% url 'shop:shop' %}"><button class="btn btn-primary btn-lg w-100">Weiter Einkaufen</button></a>
        </div>

      </div>

      <div class="seperator mt-5"></div>

      {% include 'shop/templates/horizontal-bar.html' with class='bg-info' only %}
    </div>
  </div>
{% endblock %}




<!--<div class="cartActions">
  <hr class="bg-info mt-5">

  {% if order.get_cart_items > 0 %}

    <div class="cartItemWrapper">
      <div class="seperator mt-4"></div>

      <div class="d-flex">
        <h5 class="w-50 m-0">Summe:</h5>
        <h5 class="text-right w-50 m-0">€ <span class="cartTotal text-strong">{{ order.get_cart_total|floatformat:2 }}</span></h5>
      </div>

      <p class="text-smaller text-info">*zzgl. Versandkosten</p>

      <div class="seperator mt-4"></div>

      <a href="{% url 'shop:checkout' %}"><button class="btn btn-primary btn-lg w-100">Zur Kassa</button></a>

      {% if user.is_authenticated != 'true' %}
        <div class="seperator mt-2"></div>

        <a href="{% url 'shop:login' %}?next={{ request.path|urlencode }}">{% endif %}

          <button class="btn btn-outline-info btn-lg w-100">Zum Speichern anmelden</button>
      {% if user.is_authenticated %}</a>{% endif %}
    </div>

  {% else %}

    <div class="seperator mt-5"></div>

    <a href="{% url 'shop:shop' %}"><button class="btn btn-primary btn-lg w-100">Weiter stöbern</button></a>

  {% endif %}
</div>-->



<!--</div>

<div class="p-5"><div class="p-5"></div></div>
<div class="position-absolute w-100 pt-3 pb-3" style="bottom: 0; left: 0;">
  <hr class="bg-white border-2 mt-5">
  <div class="pt-2 pb-3 d-flex">
    <h5 class="w-50">Summe:</h5><h5 class="text-right w-50">€ 79,98</h5>
  </div>
  <a href="{% url 'shop:checkout' %}"><button class="btn btn-light btn-lg w-100">Zur Kassa</button></a>
</div>
</div>
</div>
</div>-->
