{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
  <div class="down accordion" id="checkoutOption">
    <div data-section="checkoutHeader">
      <div class="position-absolute 353535w-100" style="height: 60vh; z-index: -1">
        <img src="{% static 'shop/med/backdrops/b1.jpg' %}" class="img img-fluid w-100 h-100" alt="">
      </div>

      <div class="height-50vh position-relative">
        <div class="container">
          <div class="seperator pt-5"><div class="mt-4"></div></div>

          <div class="d-flex align-items-center justify-content-end">
            {% include 'shop/templates/svg/checkout-address.svg' with class='text-white' inner='#353535' height='2em' style=checkoutAddressIcon only %}
            {% include 'shop/templates/svg/checkout-separator.svg' with class='text-white m-2' height='0.2em' style=checkoutPaymentIcon only %}
            {% include 'shop/templates/svg/checkout-payment-method.svg' with class='text-white' inner='#353535' height='2em' style=checkoutPaymentIcon only %}
            {% include 'shop/templates/svg/checkout-separator.svg' with class='text-white m-2' height='0.2em' style=checkoutCheckIcon only %}
            {% include 'shop/templates/svg/checkout-check.svg' with class='text-white' inner='#353535' height='2em' style=checkoutCheckIcon only %}
          </div>
        </div>

        <div class="position-absolute" style="top: 50%; left: 1em; right 1em;">
          <h3 class="text-white">
            {% if checkoutStep == 1 %}
              Anmelden oder <br> als Gast fortfahren
            {% elif checkoutStep == 2 %}
              Deine Lieferadresse
            {% elif checkoutStep == 3 %}
              Zahlungsmöglichkeiten
            {% elif checkoutStep == 4 %}
              Überprüfe deine Angaben
            {% endif %}
          </h3>
        </div>

        {% if checkoutStep == 3 %}
          <div class="d-flex align-items-end" style="height: calc(100% - 6.5em)">
            <div class="mw-100">
              <div class="d-flex scrollbar pl-3">
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="creditcard" checked>
                  <div class="btn btn-lg btn-outline-light mr-1 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionOne" aria-expanded="true" aria-controls="checkoutOptionOne" data-parent="#checkoutOption">Kreditkarte</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="klarna">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionTwo" aria-expanded="true" aria-controls="checkoutOptionTwo" data-parent="#checkoutOption">Klarna</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="paypal">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionThree" aria-expanded="true" aria-controls="checkoutOptionThree" data-parent="#checkoutOption">PayPal</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="sofort">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionFour" aria-expanded="true" aria-controls="checkoutOptionFour" data-parent="#checkoutOption">Sofort</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="eps">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionFive" aria-expanded="true" aria-controls="checkoutOptionFive" data-parent="#checkoutOption">Eps</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="sepa">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionSix" aria-expanded="true" aria-controls="checkoutOptionSix" data-parent="#checkoutOption">Sepa</div>
                </label>
                <div class="p-2"></div>
              </div>

              <div class="seperator mt-4"></div>
            </div>
          </div>
        {% endif %}

      </div>
    </div>


    <div class="bg-white down-container position-relative">
      <div data-section="designElementVerticalBar">
        {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}

        <div class="seperator mt-4"></div>
      </div>


      {% if checkoutStep == 1 %}
        <div data-section="checkoutStepOne">
          {% include 'shop/templates/checkout/authentication.html' %}
        </div>


      {% elif checkoutStep == 2 %}
        <div data-section="checkoutStepTwo">
          {% include 'shop/templates/checkout/address.html' %}
        </div>


      {% elif checkoutStep == 3 %}
        <div data-section="checkoutStepThree">
          {% include 'shop/templates/checkout/payment.html' %}
        </div>


      {% elif checkoutStep == 4 %}
        <div data-section="checkoutStepFour">
          {% include 'shop/templates/checkout/confirm.html' %}
        </div>
      {% endif %}


      <div data-section="designElementVerticalBar">
        <div class="seperator mt-4"></div>

        {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
      </div>
    </div>


  </div>
{% endblock %}
