{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
  <div class="down accordion" id="checkoutOption">
    <div data-section="checkoutHeader">
      <div class="position-absolute 353535w-100" style="height: 60vh; z-index: -1">
        <img src="{% static 'shop/med/backdrops/b1.jpg' %}" class="img img-fluid w-100 h-100" alt="">
      </div>

      <div class="height-50vh position-relative">
        <div class="container">
          <div class="seperator pt-5"><div class="mt-4"></div></div>

          <div class="d-flex align-items-center justify-content-end">
            {% include 'shop/templates/svg/checkout-address.svg' with class='text-white' inner='#353535' height='2em' style=addressIconStyle only %}
            {% include 'shop/templates/svg/checkout-separator.svg' with class='text-white m-2' height='0.2em' style=paymentIconStyle only %}
            {% include 'shop/templates/svg/checkout-payment-method.svg' with class='text-white' inner='#353535' height='2em' style=paymentIconStyle only %}
            {% include 'shop/templates/svg/checkout-separator.svg' with class='text-white m-2' height='0.2em' style=summaryIconStyle only %}
            {% include 'shop/templates/svg/checkout-check.svg' with class='text-white' inner='#353535' height='2em' style=summaryIconStyle only %}
          </div>
        </div>

        <div class="position-absolute" style="top: 50%; left: 1em; right 1em;">
          <h3 class="text-white">
            {% if 1 == 1 %}
              Überprüfe deine Angaben
            {% elif 1 == 1 %}
              Zahlungsmöglichkeiten
            {% elif 1 == 1 %}
              Deine Lieferadresse
            {% else %}
              Anmelden oder <br> als Gast fortfahren
            {% endif %}
          </h3>
        </div>

        {% if 1 == 1 and 1 != 1 or 1 == 1 and 1 != 1 %}
          <div class="d-flex align-items-end" style="height: calc(100% - 6.5em)">
            <div class="mw-100">
              <div class="d-flex scrollbar pl-3">
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="creditcard" checked>
                  <div class="btn btn-lg btn-outline-light mr-1 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionOne" aria-expanded="true" aria-controls="checkoutOptionOne" data-parent="#checkoutOption">Kreditkarte</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="klarna">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionTwo" aria-expanded="true" aria-controls="checkoutOptionTwo" data-parent="#checkoutOption">Klarna</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="paypal">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionThree" aria-expanded="true" aria-controls="checkoutOptionThree" data-parent="#checkoutOption">PayPal</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="sofort">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionFour" aria-expanded="true" aria-controls="checkoutOptionFour" data-parent="#checkoutOption">Sofort</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="eps">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionFive" aria-expanded="true" aria-controls="checkoutOptionFive" data-parent="#checkoutOption">Eps</div>
                </label>
                <label class="checkbox">
                  <input type="radio" name="paymentMethod" vlaue="sepa">
                  <div class="btn btn-lg btn-outline-light mr-1 ml-2 checkbox-button" data-toggle="collapse" data-target="#checkoutOptionSix" aria-expanded="true" aria-controls="checkoutOptionSix" data-parent="#checkoutOption">Sepa</div>
                </label>
                <div class="p-2"></div>
              </div>

              <div class="seperator mt-4"></div>
            </div>
          </div>
        {% endif %}

      </div>
    </div>


    <div class="bg-white down-container position-relative">
      <div data-section="designElementVerticalBar">
        {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}

        <div class="seperator mt-4"></div>
      </div>


      {% if 1 == 1 %}
        <div data-section="checkoutStepFour">
          Bestätigen und Bestellen
        </div>


      {% elif 1 == 1 %}
        <div data-section="checkoutStepThree">
          {% include 'shop/templates/checkout/payment.html' %}
        </div>


      {% elif 1 == 1 %}
        <div data-section="checkoutStepTwo">
          {% include 'shop/templates/checkout/address.html' %}
        </div>


      {% else %}
        <div data-section="checkoutStepOne">
          {% include 'shop/templates/checkout/authentication.html' %}
        </div>
      {% endif %}


      <div data-section="designElementVerticalBar">
        <div class="seperator mt-4"></div>

        {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
      </div>
    </div>


  </div>




  <!-- Step 4: Check -->
  <!--<div class="up">
    <div class="up-container bg-white position-relative">
      <div class="container">
        <div class="d-flex align-items-center justify-content-end" style="padding-top: 5em;">
          {% include 'shop/templates/svg/checkout-address.svg' with class='text-dark' inner='#fff' height='2em' style='opacity: 100%;' only %}
          {% include 'shop/templates/svg/checkout-separator.svg' with class='text-dark m-2' width='1.5em' style='opacity: 100%;' only %}
          {% include 'shop/templates/svg/checkout-payment-method.svg' with class='text-dark' inner='#fff' height='2em' style='opacity: 100%;' only %}
          {% include 'shop/templates/svg/checkout-separator.svg' with class='text-dark m-2' width='1.5em' style='opacity: 100%;' only %}
          {% include 'shop/templates/svg/checkout-check.svg' with class='text-dark' inner='#fff' height='2em' style='opacity: 100%;' only %}
        </div>
      </div>

        <div class="mt-4">
          <div class="container">
            <h5 class="m-0">Produkte & Versand:</h5>
          </div>
          <div class="d-flex scrollbar mt-2">
            <div class="pl-3 pr-3">
              <h6 class="text-info">Verkauf & Versand durch <u class="text-info">MusterMarke®</u></h6>
              <div class="d-flex align-items-center">

                <div class="container">
                  <div class="row">
                    <div class="col-auto">
                      <div class="row">
                        <div class="col-auto p-0 d-flex align-items-center justiy-content-start">
                          <div style="height: 80px; width: 80px;">
                            <img src="{% static 'shop/media/placeholder.jpg' %}" class="img img-fluid w-100 h-100 rounded" alt="">
                          </div>
                        </div>
                        <div class="col d-flex align-items-center justiy-content-start ml-2">
                          <div>
                            <h6 class="m-0">Product Title</h6>
                            <p>1x € 39,99</p>
                            <div class="d-flex mt-3">
                              <p class="m-0">Farbe: {% include 'shop/templates/svg/circle.svg' with class='text-dark ml-1' height='0.9em' style='margin-top: -3px;' only %}</p>
                              <p class="m-0 ml-3">Größe: M</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-auto ml-3">
                      <div class="row">
                        <div class="col-auto p-0 d-flex align-items-center justiy-content-start">
                          <div style="height: 80px; width: 80px;">
                            <img src="{% static 'shop/media/delivery.jpg' %}" class="img img-fluid w-100 h-100 rounded" alt="">
                          </div>
                        </div>
                        <div class="col d-flex ml-2">
                          <div>
                            <h6 class="m-0">Versand</h6>
                            <p>€ 5,99</p>
                            <div class="d-flex align-items-center mt-3">
                              <p class="m-0">DHL GoGreen</p>
                              <p class="m-0 ml-1 text-primary" style="font-size: 0.8em; padding-top: 0.2em;">& CO2 Ausgleich</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="pl-3 pr-3">
              <h6 class="text-info">Verkauf & Versand durch <u class="text-info">MusterMarke®</u></h6>
              <div class="d-flex align-items-center">

                <div class="container">
                  <div class="row">
                    <div class="col-auto">
                      <div class="row">
                        <div class="col-auto p-0 d-flex align-items-center justiy-content-start">
                          <div style="height: 80px; width: 80px;">
                            <img src="{% static 'shop/media/placeholder.jpg' %}" class="img img-fluid w-100 h-100 rounded" alt="">
                          </div>
                        </div>
                        <div class="col d-flex align-items-center justiy-content-start ml-2">
                          <div>
                            <h6 class="m-0">Product Title</h6>
                            <p>1x € 39,99</p>
                            <div class="d-flex mt-3">
                              <p class="m-0">Farbe: {% include 'shop/templates/svg/circle.svg' with class='text-dark ml-1' height='0.9em' style='margin-top: -3px;' only %}</p>
                              <p class="m-0 ml-3">Größe: M</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-auto ml-3">
                      <div class="row">
                        <div class="col-auto p-0 d-flex align-items-center justiy-content-start">
                          <div style="height: 80px; width: 80px;">
                            <img src="{% static 'shop/media/delivery.jpg' %}" class="img img-fluid w-100 h-100 rounded" alt="">
                          </div>
                        </div>
                        <div class="col d-flex ml-2">
                          <div>
                            <h6 class="m-0">Versand</h6>
                            <p>€ 5,99</p>
                            <div class="d-flex align-items-center mt-3">
                              <p class="m-0">DHL GoGreen</p>
                              <p class="m-0 ml-1 text-primary" style="font-size: 0.8em; padding-top: 0.2em;">& CO2 Ausgleich</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      <div class="container">
        <div class="mt-4">
          <div class="pt-2 pb-3 d-flex align-items-center">
            <h5 class="w-50 m-0">Lieferung:</h5><p class="w-50 text-right m-0"><button class="btn p-0"><u class="text-info" style="font-size: 0.8em;">Lieferaddresse bearbeiten</u></button></p>
          </div>
          <div>
            <p class="m-0">
              Christoph Amort <br>
              Embach 101 <br>
              6320 Angerberg <br>
              Österreich
            </p>
          </div>
        </div>

        <div class="mt-4">
          <div class="pt-2 pb-3 d-flex align-items-center">
            <h5 class="w-50 m-0">Zahlung:</h5><p class="w-50 text-right m-0"><button class="btn p-0"><u class="text-info" style="font-size: 0.8em;">Zahlungsart bearbeiten</u></button></p>
          </div>
          <div>
            <h6>Mastercard</h6>
            <div class="d-flex align-items-center">
              {% include 'shop/templates/svg/card.svg' with class='text-dark' height='1.2em' style='' only %}
              <p class="m-0 ml-2" style="white-space: nowrap;">•••• 0483</p>
            </div>
          </div>
        </div>

        <div>
          <hr class="bg-white border-2 mt-5">
          <div class="pt-2 row">
            <h6 class="col-auto">Zwischensumme:</h6><h6 class="col text-right w-100">€ 79,98</h6>
          </div>
          <div class="row">
            <h6 class="text-info col-auto" style="">Versandkosten:</h6><h6 class="text-info col text-right w-100">€ 11,98</h6>
          </div>
          <div class="pb-3 row">
            <h5 class="col-auto">Gesamtsumme:</h5><h5 class="col text-right w-100">€ 91,96</h5>
          </div>
        </div>

        <div class="p-4"></div>
        <div class="p-3 d-flex justify-content-center align-items-center position-absolute w-100" style="bottom: 0; left: 0;">
          <div class="353535rounded" style="width: 3em; height: 0.4em;"></div>
        </div>
      </div>
    </div>

    <div class="w-100 p-3 mt-4" style="bottom: 0; left: 0;">
      <button class="btn btn-primary btn-lg w-100">Jetzt bestellen</button>
      <p class="text-info m-0 text-center mt-2" style="font-size: 0.8em;">*Mit der Aufgabe dieser Bestellung bist du mit den <u class="text-info">AGB’s</u> und <u class="text-info">Datenschutzrichtlinien</u> von allen Verkäufern und von Greenvoice einverstanden.</p>
    </div>
  </div>-->
{% endblock %}
