{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
  <div class="down">
    <div> <!-- Image large -->
      <div class="position-absolute w-100" style="height: 80vh; z-index: -1">
        <img src="{% static 'shop/med/phs7.jpg' %}" class="img img-fluid w-100 h-100" alt="">
      </div>
      <div style="height: 75vh;"></div>
    </div>


    <div class="bg-white down-container">


      <div> <!-- Design element -->
        <div class="container">
          <div class="p-3 d-flex justify-content-center align-items-center">
            <div class="bg-dark rounded" style="width: 3em; height: 0.4em;"></div>
          </div>
        </div>
      </div>


      <div> <!-- Values short -->
        <div class="container">
          <h4 class="text-info m-0 mt-4">Dafür stehen wir</h4>
          <h4 class="mb-4">Unsere Werte</h4>
          <div class="pt-3"></div>
          {% include 'shop/templates/values.html' with class='text-dark' height='2.5em' border='#fff' only %}
          <p class="mt-4 text-center">
            Mit Allem was wir tun glauben wir daran, dass eine transparente Wirtschaft die Grundlage für nachhaltige und faire Mode bilden soll. Aus diesem Grund zeigen wir dir die Bestandteile, Lieferketten und Produktionsstätten jedes einzelnen Produktes. Greenvoice ist dein transparenter und nachhaltiger Mode Marktplatz.
          </p>
        </div>
      </div>


      <div> <!-- Products polular -->
        <div class="mt-5 container">
          <h4 class="text-info m-0">Style Trends</h4>
          <h4>Beliebte Produkte</h4>
        </div>
        {% include 'shop/templates/product-slide.html' %}
        <div class="container d-flex justify-content-center align-items-center mt-4">
          <a href="{% url 'shop:shop' %}"><button class="btn"><u class="text-info"><h6 class="text-info">Weitere Produkte anzeigen</h6></u></button></a>
        </div>
      </div>


      <div> <!-- Products new -->
        <div class="mt-5 container">
          <h4 class="text-info m-0">Vor kurzem eingetroffen</h4>
          <h4>Neue Produkte</h4>
        </div>
        {% include 'shop/templates/product-slide.html' %}
        <div class="container d-flex justify-content-center align-items-center mt-4">
          <a href="{% url 'shop:shop' %}"><button class="btn"><u class="text-info"><h6 class="text-info">Weitere Produkte anzeigen</h6></u></button></a>
        </div>
      </div>


      <div> <!-- Popular categories. -->
        <div class="mt-5 container">
          <h4 class="text-info m-0">Beliebt & Meistgekauft</h4>
          <h4>Top Kategorien</h4>
          <div class="mt-4">
            <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Schuhe</button></a>
            <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Accessoires</button></a>
            <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Jeans</button></a>
            <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">T-Shirts</button></a>
            <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Hemden</button></a>
            <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Sportbekleidung</button></a>
            <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Bademode</button></a>
            <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Schnürschuhe</button></a>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <a href="{% url 'shop:shop' %}"><button class="btn"><u class="text-info"><h6 class="text-info">Weitere Kategorien anzeigen</h6></u></button></a>
          </div>
        </div>
      </div>


      <div> <!-- Popular brands. -->
        <div class="mt-5 container">
          <h4 class="text-info m-0">Nachhaltig & Fair</h4>
          <h4>Beliebte Marken</h4>
        </div>
        {% include 'shop/templates/brand-slide.html' with class='text-dark' only %}
        <div class="container d-flex justify-content-center align-items-center mt-4">
          <a href="{% url 'shop:shop' %}"><button class="btn"><u class="text-info"><h6 class="text-info">Weitere Marken anzeigen</h6></u></button></a>
        </div>
      </div>


      <div> <!-- Design element -->
        <div class="mt-4 p-3 d-flex justify-content-center align-items-center">
          <div class="bg-dark rounded" style="width: 3em; height: 0.4em;"></div>
        </div>
      </div>


    </div>
  </div>
{% endblock %}
