{% extends "../base.html" %}

{% load static %}

{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

{% block content %}
<div class="down">
  <!-- Image. -->
  <div class="position-absolute w-100" style="height: 60vh; z-index: -1">
    <img src="{% static 'shop/med/backdrops/b1.jpg' %}" class="img img-fluid w-100 h-100" alt="">
  </div>
  <div class="container position-relative d-flex align-items-center" style="height: 50vh; z-index: -1;">
    <h3 class="text-white pt-5">Willkommen <br> zurück</h3>
  </div>

  <!-- Container. -->
  <div class="bg-white down-container down-container-flat position-relative" style="min-height: 50vh;">
    <div class="container">
      <div class="p-3 d-flex justify-content-center align-items-center">
        <div class="bg-dark rounded" style="width: 3em; height: 0.4em;"></div>
      </div>

      <form>
        <input type="email" class="form-control form-control-lg" id="loginEmail" aria-describedby="emailHelp" placeholder="E-Mail" style="border: none;  border-radius: 0; border-bottom: 2px solid #BFBFBF;">
        <input type="password" class="form-control form-control-lg mt-2" id="loginPassword" aria-describedby="passwordHelp" placeholder="Passwort" style="border: none;  border-radius: 0; border-bottom: 2px solid #BFBFBF;">
        <button class="btn btn-primary btn-lg w-100  mt-4">Anmelden</button>
      </form>

      <!-- Register. -->
      <div class="p-5 m-4"></div>
      <div class="position-absolute w-100 pl-3 pr-3 pb-3" style="left: 0; bottom: 0;">
        <p class="text-info text-center m-0" style="font-size: 0.8em">Du bist noch nicht registriert?</p>
        <a href="{% url 'shop:register' %}"><button class="btn btn-outline-info btn-lg w-100 mt-2">Jetzt registrieren</button></a>
      </div>
    </div>
  </div>
{% endblock %}
