{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
<div class="down">


  <div data-section="loginImageMedium">
    <div class="position-absolute w-100" style="height: 60vh; z-index: -1">
      <img src="{% static 'shop/med/backdrops/b1.jpg' %}" class="img img-fluid w-100 h-100" alt="">
    </div>
    <div class="container position-relative d-flex align-items-center" style="height: 50vh; z-index: -1;">
      <h3 class="text-white pt-5">
        {% if 'redirect' in request.get_full_path %}
          Melde dich an <br> um die Wunschliste <br> zu verwenden
        {% else %}
          Willkommen <br> zurück
        {% endif %}
      </h3>
    </div>
  </div>


  <div data-section="loginFormWrapper">
    <div class="bg-white down-container position-relative" style="min-height: 50vh;">
      <div class="container">
        <div data-section="indexDesignElementVerticalBar">
          {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
        </div>

        <div data-section="loginForm">
          <form id="loginUserForm" method="POST">
            {% csrf_token %}

            <input type="email" name="loginEmail" class="form-control form-control-lg" placeholder="E-Mail" value="{{ submittedLoginEmail }}">
            <input type="password" name="loginPassword" class="form-control form-control-lg mt-2" placeholder="Passwort">

            <div class="seperator mt-4"></div>

            <button id="loginUserTrigger" class="btn btn-primary btn-lg w-100" type="button">Anmelden</button>

            <div class="seperator mt-2"></div>

            <p id="loginUserMessage" class="text-danger text-small text-center"></p>
            {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    					  <p class="text-danger text-small text-center">{{ message }}</p>
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <p class="text-primary text-small text-center">{{ message }}</p>
              {% endif %}
    				{% endfor %}
          </form>
        </div>

        <div class="seperator mt-5"></div>

        <div data-section="loginRegister">
          <div class="w-100">
            <p class="text-info text-center m-0 text-smaller">Du hast noch keinen Account?</p>
            <a href="{% url 'shop:register' %}"><button class="btn btn-outline-info btn-lg w-100 mt-2">Jetzt registrieren</button></a>
          </div>
        </div>

        <div class="seperator mt-5"></div>

        <div data-section="indexDesignElementVerticalBar">
          {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
