{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
<div class="down">

  <div>
    <div class="position-absolute w-100" style="height: 60vh; z-index: -1">
      <img src="{% static 'shop/med/backdrops/b1.jpg' %}" class="img img-fluid w-100 h-100" alt="">
    </div>
    <div class="container position-relative d-flex align-items-center" style="height: 50vh; z-index: -1;">
      <h3 class="text-white pt-5">
        {% if request.GET.next %}
          Melde dich an <br> um alle Funktionen <br> zu verwenden
        {% elif request.GET.logout %}
          {% include 'shop/templates/svg/check.svg' with class='text-primary mr-2' height='0.6em' style='margin-top: -0.2em;' only %}
          Erfolgreich <br> abgemeldet!
        {% else %}
          Willkommen <br> zurück!
        {% endif %}
      </h3>
    </div>
  </div>


  <div class="bg-white down-container position-relative" style="min-height: 50vh;">
    <div class="container">
      <!--
      Design element `horizontal-bar`.
      -->
      {% include 'shop/templates/horizontal-bar.html' with class='bg-info' only %}

      <form id="loginUserForm" method="POST">
        {% csrf_token %}

        <input type="email" name="loginEmail" class="form-control form-control-lg" placeholder="E-Mail" value="{{ submittedLoginEmail }}">
        <input type="password" name="loginPassword" class="form-control form-control-lg mt-2" placeholder="Passwort">
        <input type="hidden" name="next" value="{{ request.GET.next }}">

        <div class="seperator mt-4"></div>

        <button id="loginUserTrigger" class="btn btn-primary btn-lg w-100" type="button">Anmelden</button>

        <div class="seperator mt-2"></div>

        <p id="loginUserMessage" class="text-danger text-small text-center"></p>
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
					  <p class="text-danger text-small text-center">{{ message }}</p>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p class="text-primary text-small text-center">{{ message }}</p>
          {% endif %}
				{% endfor %}
      </form>

      <div class="seperator mt-5"></div>

      <div class="w-100">
        <p class="text-info text-center m-0 text-smaller">Du hast noch keinen Account?</p>
        <a href="{% url 'shop:register' %}"><button class="btn btn-outline-info btn-lg w-100 mt-2">Jetzt registrieren</button></a>
      </div>

      <div class="seperator mt-5"></div>

      <!--
      Design element `horizontal-bar`.
      -->
      {% include 'shop/templates/horizontal-bar.html' with class='bg-info' only %}
    </div>
  </div>

</div>
{% endblock %}
