{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
  <div class="down">


    <div data-section="productDetailGallery">
      <div class="position-absolute w-100" style="height: 80vh;">
        <div id="carouselExampleIndicators" class="carousel slide h-100 w-100" data-interval="false">
          <ol class="carousel-indicators mb-5 pb-1">
            {% for item in "x"|ljust:"3" %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %} class="active" {% endif %}></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
              <img src="{% static 'shop/med/phs7.jpg' %}" class="img img-fluid d-block w-100 h-100" alt="...">
            </div>
            <div class="carousel-item h-100">
              <img src="{% static 'shop/med/phs8.jpg' %}" class="img img-fluid d-block w-100 h-100" alt="...">
            </div>
            <div class="carousel-item h-100">
              <img src="{% static 'shop/med/phs2.jpg' %}" class="img img-fluid d-block w-100 h-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            {% include 'shop/templates/svg/arrow-left.svg' with class='text-dark' height='1.2em' style='' only %}
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            {% include 'shop/templates/svg/arrow-right.svg' with class='text-dark' height='1.2em' style='' only %}
          </a>
        </div>
      </div>

      <div class="seperator height-75vh"></div>
    </div>


    <div class="bg-white down-container position-relative" data-section="productDetailDesignElementWrapperWhiteRounded">
      <div class="container">

        <div data-section="productDetailDesignElementVerticalBar">
          {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
        </div>

        <div class="seperator mt-4"></div>

        <div data-section="productDetailInfoCore">
          <h4><i>Product Title</i></h4>
          <div class="d-flex align-items-end">
            <h4 class="m-0">€ 236,54</h4>
            <p class="text-info m-0 ml-1 text-small">inkl. MwSt.</p>
          </div>

          <div class="seperator mt-4"></div>

          <p>Moderner gestreifter Langrock von <a href="#" class="text-underlined">MusterMarke®</a>.</p>
        </div>


        <div data-section="productDetailNav">
          <div class="seperator mt-4"></div>

          <div data-section="productDetailNavColor">
            <h6 class="m-0">Farbe: <span id="productDetailNavColorSelectedText" class="ml-1" style="color: #000000;">Schwarz</span></h6>

            <div class="seperator mt-2"></div>

            <div class="d-flex">
              <label class="checkbox">
                <input class="productDetailNavColorChoose" type="radio" name="productOptionColor" data-color="Schwarz" checked>
                <div class="checkbox-box checkbox-box-lg" style="background-color: #000000; border-color: #000000;">
                  {% include 'shop/templates/svg/check.svg' with class='checkbox-icon text-white' height='0.7em' style='' only %}
                </div>
              </label>
              <label class="checkbox ml-2">
                <input class="productDetailNavColorChoose" type="radio" name="productOptionColor" data-color="Silver">
                <div class="checkbox-box checkbox-box-lg" style="background-color: #C0C0C0; border-color: #C0C0C0;">
                  {% include 'shop/templates/svg/check.svg' with class='checkbox-icon text-white' height='0.7em' style='' only %}
                </div>
              </label>
            </div>
          </div>

          <div class="seperator mt-4"></div>

          <div data-section="productDetailNavWishlist">
            <button class="btn p-0 d-flex align-items-center" data-action="{% if 1 == 0 %}addToWishlist{% else %}removeFromWishlist{% endif %}">
              {% if 1 == 0 %}
                {% include 'shop/templates/svg/heart.svg' with class='text-info' height='1em' strokewidth='3' only %}
                <p class="m-0 text-info ml-2">Auf die Wunschliste</p>
              {% else %}
                {% include 'shop/templates/svg/heart-filled.svg' with class='text-primary' height='1em' only %}
                <p class="m-0 ml-2 text-primary">Auf der Wunschliste</p>
              {% endif %}
            </button>
          </div>

          <div class="seperator mt-2"></div>

          <div class="d-flex" data-section="productDetailNavSizeAndproductDetailNavChart">

            <div class="w-100" data-section="productDetailNavSize">
              <div class="dropdown w-100">
                <button id="productDetailCurrentSizeIndicator" class="btn btn-lg btn-outline-info w-100 d-flex align-items-center justify-content-center dropdown-toggle" type="button" id="productDetailNavSizeDropdown" data-toggle="dropdown">
                  Größe
                  {% include 'shop/templates/svg/arrow-down.svg' with class='text-info ml-2 arrow-down' height='.4em' style='' only %}
                  {% include 'shop/templates/svg/arrow-up.svg' with class='text-dark ml-2 d-none arrow-up' height='.4em' style='' only %}
                </button>
                <div class="dropdown-menu w-100 border border-info p-0" aria-labelledby="productDetailNavSizeDropdown">
                  <label class="checkbox form-check m-0 p-2 pt-3">
                    <input class="form-check-input productDetailNavSizeChoose" type="radio" name="productSize" vlaue="XS">
                    <h6 class="checkbox-text m-0 ml-2">XS</h6>
                  </label>
                  <label class="checkbox form-check m-0 p-2">
                    <input class="form-check-input productDetailNavSizeChoose" type="radio" name="productSize" vlaue="S">
                    <h6 class="checkbox-text m-0 ml-2">S</h6>
                  </label>
                  <label class="checkbox form-check m-0 p-2">
                    <input class="form-check-input productDetailNavSizeChoose" type="radio" name="productSize" vlaue="M">
                    <h6 class="checkbox-text m-0 ml-2">M</h6>
                  </label>
                  <label class="checkbox form-check m-0 p-2 pb-3">
                    <input class="form-check-input productDetailNavSizeChoose" type="radio" name="productSize" vlaue="L">
                    <h6 class="checkbox-text m-0 ml-2">L</h6>
                  </label>
                </div>
              </div>
            </div>

            <div data-section="productDetailNavChart">
              <button class="btn btn-lg btn-primary ml-2">In den Warenkorb</button>
            </div>

          </div>
        </div>


        <div data-section="productDetailInfoBrand">
          <div class="seperator mt-2"></div>

          <p class="m-0 text-info" style="font-size: 0.8em;"><i>*Versand und Verkauf durch <a href="#" class="text-info text-underlined">MusterMarke®</a>.</i></p>
        </div>
      </div>


      <div data-section="productDetailInfoAdditional">
        <div class="seperator mt-5"></div>

        {% include 'shop/templates/accordion.html' %}
      </div>


      <div data-section="productDetailContinueShopping">
        <div class="seperator mt-5"></div>

        <div data-section="productListMatching">
          <div class="container">
            <h5 class="text-info m-0"><i>Vervollständige deinen Style</i></h5>
            <h5>Passt sehr gut dazu</h5>
          </div>

          {% include 'shop/templates/product-slide.html' with class='text-dark' only %}

          <div class="seperator mt-4"></div>

          <div class="container d-flex justify-content-center align-items-center">
            <a href="{% url 'shop:shop' %}"><button class="btn"><u class="text-info"><h6 class="text-info">Weitere Produkte anzeigen</h6></u></button></a>
          </div>
        </div>

        <div class="seperator mt-5"></div>

        <div data-section="productListSimilar">
          <div class="container">
            <h5 class="text-info m-0"><i>Das könnte dir auch gefallen</i></h5>
            <h5>Ähnliche Produkte</h5>
          </div>
          {% include 'shop/templates/product-slide.html' with class='text-dark' only %}

          <div class="seperator mt-4"></div>

          <div class="container d-flex justify-content-center align-items-center">
            <a href="{% url 'shop:shop' %}"><button class="btn"><u class="text-info"><h6 class="text-info">Weitere Produkte anzeigen</h6></u></button></a>
          </div>
        </div>

        <div class="seperator mt-5"></div>

        <div data-section="categoryListMatching">
          <div class="container">
            <h5 class="text-info m-0"><i>Passend zu diesem Produkt</i></h5>
            <h5>Produkt Kategorien</h5>

            <div class="seperator mt-4"></div>

            <div>
              <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Schuhe</button></a>
              <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Accessoires</button></a>
              <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Jeans</button></a>
              <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">T-Shirts</button></a>
              <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Hemden</button></a>
              <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Sportbekleidung</button></a>
              <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Bademode</button></a>
              <a href="#"><button class="btn btn-sm btn-outline-dark mr-1 mb-2">Schnürschuhe</button></a>
            </div>
          </div>
        </div>
      </div>


      <div class="seperator mt-4"></div>


      <div data-section="productDetailDesignElementVerticalBar">
        {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
      </div>
    </div>
  </div>
{% endblock %}
