{% extends "../base.html" %}

{% load static %}

{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

{% block content %}
  <div class="down">
    <div class="position-absolute w-100" style="height: 60vh; z-index: -1"></div>
    <div class="container position-relative d-flex align-items-center" style="height: 50vh;">
      <div class="">
        <h3 class="text-white pt-5 m-0">Christoph Amort</h3>
        <a href="{% url 'shop:edit' %}"><button class="btn p-0"><u class="text-info">Profil bearbeiten</u></button></a>
      </div>
    </div>

    <div class="bg-white down-container position-relative" style="min-height: 50vh;">
      <div class="container">
        <div class="p-3 d-flex justify-content-center align-items-center">
          <div class="bg-dark rounded" style="width: 3em; height: 0.4em;"></div>
        </div>

        <div class="mt-5">
          <ul class="text m-0 p-0 mt-4">
            <li>
              <a href="{% url 'shop:orders' %}">
                <button class="btn btn-lg btn-dark w-100">
                  <div class="d-flex align-items-center">
                    <h5 class="text-white m-0 mr-auto regular">Meine Bestellungen</h5>
                    {% include 'shop/templates/svg/arrow.html' with class='text-white' height='0.8em' only %}
                  </div>
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a href="{% url 'shop:address' %}">
                <button class="btn btn-lg btn-dark w-100">
                  <div class="d-flex align-items-center">
                    <h5 class="text-white m-0 mr-auto regular">Meine Lieferadresse</h5>
                    {% include 'shop/templates/svg/arrow.html' with class='text-white' height='0.8em' only %}
                  </div>
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a href="{% url 'shop:payment-methods' %}">
                <button class="btn btn-lg btn-dark w-100">
                  <div class="d-flex align-items-center">
                    <h5 class="text-white m-0 mr-auto regular">Meine Zahlungsarten</h5>
                    {% include 'shop/templates/svg/arrow.html' with class='text-white' height='0.8em' only %}
                  </div>
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="p-4"></div>
      <div class="p-3 d-flex justify-content-center align-items-center position-absolute w-100" style="bottom: 0; left: 0;">
        <div class="bg-dark rounded" style="width: 3em; height: 0.4em;"></div>
      </div>
      </div>
    </div>
{% endblock %}
