{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
  <div class="down">


    <div data-section="shopImageSmall">
      <div class="position-absolute w-100 height-30vh z-1">
        <div class="position-relative w-100 h-100">
          <img src="{% static 'shop/med/phs1.jpg' %}" class="img img-fluid w-100 h-100" alt="...">
          <div class="w-100 h-100 position-absolute bg-dark-25" style="top: 0; left: 0;"></div>
        </div>
      </div>

      <div class="position-relative height-25vh z-1">
        <div class="p-3 position-absolute w-100" style="left: 0; bottom: 0;">
          <h4 class="text-white text-center currentCategoryHeader">Nachhaltige Mode</h4>
          <p class="text-white text-center m-0 mb-2 text-smaller productAmount">0 Produkte</p>
        </div>
      </div>
    </div>


    <div class="bg-white down-container">

      <div data-section="shopDesignElementVerticalBar">
        {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
      </div>


      <div data-section="shopFilterAndCategories">
        {% include 'shop/templates/modals/filter.html' %}

        <div class="seperator mt-4"></div>

        <div class="d-flex scrollbar">
          <div class="feed-padding-left"></div>

          <button class="btn btn-lg btn-outline-dark openFilter" data-toggle="modal" data-target="#filterModal">Filter (<span class="activeFilterAmount">0</span>)</button>

          <div class="d-flex categoryList" data-style="nav">
          </div>

          <div class="feed-padding-right"></div>
        </div>
      </div>


      <div data-section="shopProductList">
        <div class="seperator mt-5"></div>

        <div class="container">
          <div class="d-flex flex-wrap productList" style="margin-right: -0.9em;">
          </div>
        </div>
      </div>


      <div class="seperator mt-4"></div>


      <div data-section="shopDesignElementVerticalBar">
        {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
      </div>
    </div>
  </div>
{% endblock %}
