{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
  <div class="down">


    <div data-section="shopImageSmall">
      <div class="position-absolute w-100 height-30vh z-1">
        <div class="position-relative w-100 h-100">
          <img src="{% static 'shop/med/phs1.jpg' %}" class="img img-fluid w-100 h-100" alt="...">
          <div class="w-100 h-100 position-absolute bg-dark-25" style="top: 0; left: 0;"></div>
        </div>
      </div>

      <div class="position-relative height-25vh z-1">
        <div class="p-3 position-absolute w-100" style="left: 0; bottom: 0;">
          <h4 class="text-white text-center {% if 1 == 0 %} text-strong-italic {% endif %}">Nachhaltige Basics</h4>
          <p class="text-white text-center m-0 mb-2 text-smaller {% if 1 == 0 %} text-italic {% endif %}">100+ Produkte</p>
        </div>
      </div>
    </div>


    <div class="bg-white down-container">

      <div data-section="shopDesignElementVerticalBar">
        {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
      </div>


      <div data-section="shopFilterAndCategories">
        {% include 'shop/templates/modals/filter.html' %}

        <div class="seperator mt-4"></div>

        <div class="d-flex scrollbar">
          <div class="feed-padding-left"></div>

          <button class="btn btn-lg {% if 1 == 0 %} btn-outline-primary {% else %} btn-outline-info {% endif %} mr-1 {% if 1 == 0 %} text-italic {% endif %}"  data-toggle="modal" data-target="#filterModal">Filter (0)</button>

          <a href="#"><button class="btn btn-lg {% if 1 == 0 %} btn-outline-primary {% else %} btn-outline-info {% endif %} mr-1 ml-2 {% if 1 == 0 %} text-italic {% endif %}">Accessoires</button></a>
          <a href="#"><button class="btn btn-lg {% if 1 == 0 %} btn-outline-primary {% else %} btn-outline-info {% endif %} mr-1 ml-2 {% if 1 == 0 %} text-italic {% endif %}">Bekleidung</button></a>
          <a href="#"><button class="btn btn-lg {% if 1 == 0 %} btn-outline-primary {% else %} btn-outline-info {% endif %} mr-1 ml-2 {% if 1 == 0 %} text-italic {% endif %}">Taschen</button></a>
          <a href="#"><button class="btn btn-lg {% if 1 == 0 %} btn-outline-primary {% else %} btn-outline-info {% endif %} mr-1 ml-2 {% if 1 == 0 %} text-italic {% endif %}">Schuhe</button></a>

          <div class="feed-padding-right"></div>
        </div>
      </div>


      <div data-section="shopProductList">
        <div class="seperator mt-5"></div>

        <div class="container">
          <div class="d-flex flex-wrap" style="margin-right: -0.9em;">

            {% for item in "x"|ljust:"10" %}
              <div class="feed-product mb-4">
                <div class="overflow-hidden position-relative feed-product-img">

                  <a href="{% url 'shop:product' %}">
                    <img src="{% static 'shop/med/phs1.jpg' %}" class="img img-fluid w-100 h-100" alt="">
                  </a>

                  <button class="btn position-absolute p-1" style="top: 0.25em; right: 0.25em; background-color: rgba(255,255,255,0.5); border-radius: 100%;">
                    <svg class="bi bi-heart text-dark" height="1.5em" viewBox="0 0 26.593 25.22" xmlns="http://www.w3.org/2000/svg"><path d="M12.267,2.015c6.8-7,23.819,5.246,0,20.985C-11.552,7.262,5.462-4.98,12.267,2.015Z" transform="translate(1.03 1.022)" fill="none" stroke="currentColor" stroke-width="2" fill-rule="evenodd"/></svg>
                    <svg class="bi bi-heart text-primary d-none" height="1.5em" viewBox="0 0 26.593 25.22" xmlns="http://www.w3.org/2000/svg"><path d="M12.267,2.015c6.8-7,23.819,5.246,0,20.985C-11.552,7.262,5.462-4.98,12.267,2.015Z" transform="translate(1.03 1.022)" fill="currentColor" stroke="currentColor" stroke-width="2" fill-rule="evenodd"/></svg>
                  </button>

                  <a href="#" class="d-none">
                    <div class="position-absolute bg-white d-flex justify-content-center align-items-center pt-1 pl-2 pb-1 pr-2" style="bottom: .8em; left: .8em; border-radius: .5em;">
                      <h6 class="p-0 m-0 text-danger" style="font-size: .8em; margin-top: .3em !important; margin-bottom: .1em !important;">-20%</h6>
                    </div>
                  </a>

                </div>
                <a href="#" class="text-decoration-none">
                  <div class="pt-2 pr-2 pl-2">

                    <p class="m-0 p-0 mt-1 {% if 1 == 0 %} text-italic {% endif %}">Product Title</p>

                    <h6 class="m-0 p-0 mt-1 text-small"><span class="mr-2 text-info text-strong" style="text-decoration: line-through;">€39,99</span><span class="text-danger text-strong">€29,99</span></h6>

                  </div>
                </a>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>


      <div class="seperator mt-4"></div>


      <div data-section="shopDesignElementVerticalBar">
        {% include 'shop/templates/design-elements/vertical-bar.html' with class='bg-info' only %}
      </div>
    </div>
  </div>
{% endblock %}
