{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
  <div class="down">
    <!--
      Design element `header image medium`.
    -->
    <div>
      <div class="position-absolute w-100 height__vh__30 z-1">
        <div class="position-relative w-100 h-100">
          <img src="{% static 'shop/med/phs1.jpg' %}" class="img img-fluid w-100 h-100" alt="...">
          <div class="w-100 h-100 position-absolute bg-dark-25" style="top: 0; left: 0;"></div>
        </div>
      </div>

      <div class="position-relative height__vh__25 z-1">
        <div class="p-3 position-absolute w-100" style="left: 0; bottom: 0;">
          <h4 class="text-white text-center currentCategoryHeader">Nachhaltige Mode</h4>
          <p class="text-white text-center m-0 mb-2 text-smaller"><span class="productCount">0</span> Produkte</p>
        </div>
      </div>
    </div>


    <div class="bg-white down-container">
      <!--
      Design element `horizontal-bar`.
      -->
      {% include 'shop/templates/horizontal-bar.html' with class='bg-info' only %}


      <div class="seperator mt-4"></div>


      <!--
      `Breadcrumbs` (category).
      -->
      <div class="categoryBreadcrumbsWrapper">
        <nav>
          <ol class="breadcrumb bg-transparent m-0 py-0 d-none categoryBreadcrumbs">
            <!--<li class="breadcrumb-item"><a href="#">Herren</a></li>
            <li class="breadcrumb-item"><a href="#">Schuhe</a></li>
            <li class="breadcrumb-item active">Sneaker</li>-->
          </ol>
        </nav>
      </div>


      <!--
      `Filter` and `Categories`.
      -->
      <div>
        {% include 'shop/templates/modals/filter.html' %}

        <div class="seperator mt-3"></div>

        <div class="d-flex scrollbar">
          <div class="feed-padding-left"></div>

          <button class="btn btn-lg btn-outline-dark openFilter" data-toggle="modal" data-target="#filterModal">Filter (<span class="activeFilterAmount">0</span>)</button>

          <div class="d-flex categoryList" data-order="-value" data-style="buttonLg" data-type="variableCatNav">
          </div>

          <div class="feed-padding-right"></div>
        </div>
      </div>


      <!--
      `Product feed`.
      -->
      <div>
        <div class="seperator mt-5"></div>

        <div class="container">
          <div class="d-flex flex-wrap productList" style="margin-right: -0.9em;">
          </div>
        </div>
      </div>


      <!--
      Design element `horizontal-bar`.
      -->
      <div>
        <div class="seperator mt-4"></div>

        {% include 'shop/templates/horizontal-bar.html' with class='bg-info' only %}
      </div>
    </div>
  </div>
{% endblock %}
