{% extends "../base.html" %}
{% load static %}

{% block seo %}{% endblock %}

{% block content %}
  <div class="w-100 min-vh-100 bg-white">
    <div class="container pt-5 pb-5">

      <div class="circle {% if user.is_authenticated %} bg-primary {% else %} bg-info {% endif %}" style="height: 0.5em; width: 0.5em;">
      </div>

      <div class="seperator mt-5"></div>

      <div class="row">
        <div class="col" data-style="cart">
          <h3>Cart (<span class="text-strong">0</span>)</h3>
          <div class="orderList">
          </div>
        </div>
        <div class="col" data-style="cart">
          <h3>Wishlist (<span class="text-strong wishlistCount">0</span>)</h3>
          <div class="wishlistList">
          </div>
        </div>
      </div>

      <div class="seperator mt-5"></div>
      <hr>
      <div class="seperator mt-5"></div>

      <div>
        <!-- data-style="feed" -->
        <h3>Product List (<span class="text-strong">0</span>)</h3>
        <div class="productList" data-amount="12" data-ordering="-value">
        </div>
      </div>

      <div class="seperator mt-5"></div>
      <hr>
      <div class="seperator mt-5"></div>

      <div>
        <h3>Brand List (<span class="text-strong">0</span>)</h3>
        <div class="brandList" data-amount="12" data-ordering="-value">
        </div>
      </div>

    </div>
  </div>
{% endblock %}
