{% extends "../base.html" %}
{% load static %}

{% block seo %}{% endblock %}

{% block content %}
  <div class="w-100 min-vh-100 bg-white">
    <div class="container pt-5 pb-5">

      <div class="circle {% if user.is_authenticated %} bg-primary {% else %} bg-info {% endif %}" style="height: 0.5em; width: 0.5em;">
      </div>

      <div class="seperator mt-5"></div>

      <div class="row">
        <div class="col" data-style="cart">
          <div class="position-relative">
            <h3>Cart</h3>
            <div class="notifier orderCount">
          </div>
          </div>
          <div class="orderList" data-type="cart">
          </div>
          <div class="orderSum" data-type="cart">
          </div>
        </div>
        <div class="col" data-type="cart">
          <div class="position-relative">
            <h3>Wishlist</h3>
            <div class="notifier wishlistCount">
            </div>
          </div>
          <div class="container wishlistList">
          </div>
        </div>
      </div>

      <div class="seperator mt-5"></div>
      <div class="seperator mt-5"></div>

      <div>
        <h3>Product List (<span class="text-strong productCount">0</span>)</h3>
        <div class="productList" data-quantity="12">
        </div>
      </div>

      <div class="seperator mt-5"></div>
      <div class="seperator mt-5"></div>

      <div>
        <h3>Brand List (<span class="text-strong">0</span>)</h3>
        <div class="brandList" data-amount="12" data-ordering="-value">
        </div>
      </div>

      <div class="seperator mt-5"></div>
      <div class="seperator mt-5"></div>

      <div class="triggerArea">

      </div>

    </div>
  </div>
{% endblock %}
