{% extends "../base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Greenvoice - Nachhaltige & Fair Mode - Online kaufen</title>
  <meta name="description" content="Dein Onlineshop für nachhaltige & faire Mode. Aktuelle Mode Trends für {% now 'Y' %}. √100% Transparent √100% Vegan √BIO √Recycelt.">
  <meta name="keywords" content="Nachhaltige Mode, Faire Mode, Fair Fashion, Sustainable Fashion, Onlineshop, Green Lifestyle,">
{% endblock %}

<!-- Header and footer -->
{% block header %}{% include 'shop/templates/header.html' %}{% endblock %}
{% block footer %}{% include 'shop/templates/footer.html' %}{% endblock %}

<!-- Page content -->
{% block content %}
  <div class="up">
    <div class="up-container bg-white">
      <div class="container pt-5 min-height-80vh position-relative">

          <div class="seperator mt-5"></div>

          <div data-section="wishlistHeader">
            <h4>Meine Wunschliste <span class="text-info wishlistCount" data-style="bracket"></span></h4>
          </div>

          <div class="seperator mt-5"></div>

          <div class="container wishlistList">
          </div>

          <div>
            <div class="seperator mt-5"></div>
            <hr class="bg-info">
            <div class="seperator mt-5"></div>

            {% if user.is_authenticated %}
              <a href="{% url 'shop:shop' %}"><button class="btn btn-primary btn-lg w-100">Weiter stöbern</button></a>
            {% else %}
              <a href="{% url 'shop:login' %}"><button class="btn btn-primary btn-lg w-100">Jetzt anmelden</button></a>
            {% endif %}
          </div>
      </div>

      <div class="seperator mt-5"></div>

      {% include 'shop/templates/horizontal-bar.html' with class='bg-info' only %}
    </div>
  </div>
{% endblock %}
